---
kind: Service
apiVersion: v1
metadata:
  name: keycloak
  namespace: {{ .Values.namespace }}
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: {{ .Values.keycloak.http.tlsSecret }}
spec:
  ports:
    - name: https
      protocol: TCP
      port: 8443
      targetPort: 8443
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
  selector:
    app: keycloak
    app.kubernetes.io/instance: keycloak
    app.kubernetes.io/managed-by: keycloak-operator
