# Default values for loadmaker
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

deployer:
  domain: REPLACEME-OPENSHIFT_DOMAIN
  apiUrl: https://api.cluster.opentlc.com:6443

ingressgatway_url_path: https://localhost

datavolumes:
  imageUrl: "http://s3.us-east.cloud-object-storage.appdomain.cloud/roadshowocpvirt"
    # IBM: "http://s3.us-east.cloud-object-storage.appdomain.cloud/roadshowocpvirt"
    # AWS: "https://catalog-item-assets.s3.us-east-2.amazonaws.com/qcow_images"
  volumeSnapshotClassName:  ocs-storagecluster-rbdplugin-snapclass
    # internal: ocs-storagecluster-rbdplugin-snapclass
    # external: ocs-external-storagecluster-rbdplugin-snapclass
  volumes:
  - object_name: demo-database-centos7-20250408.qcow2
    volume_name: database
    size: 16Gi
  - object_name: demo-winweb01-w2k22-20250410.qcow2
    volume_name: winweb01
    size: 90Gi
  - object_name: demo-winweb02-w2k22-20250410.qcow2
    volume_name: winweb02
    size: 90Gi
