---
namespace: keycloak

keycloak:
  # REQUIRED: Update this with your OpenShift cluster's ingress domain
  # Example: apps.cluster-abc123.abc123.sandbox1234.opentlc.com
  ingressDomain: apps.example.com

  hostname: sso

  instances: 1

  database:
    vendor: postgres
    database: keycloak
    host: keycloak-pgsql
    secretName: keycloak-pgsql-user

  additionalOptions:
    - name: enable-recovery
      value: 'true'

  transaction:
    xaEnabled: true

  http:
    httpEnabled: false
    tlsSecret: keycloak-tls

  route:
    enabled: true
    tls:
      termination: reencrypt
      insecureEdgeTerminationPolicy: Redirect
