---
namespace: keycloak

# Deployer-injected values (set by bootstrap app / ArgoCD parameters)
deployer:
  domain: apps.example.com
  apiUrl: ""
  guid: ""

keycloak:
  hostname: sso

  instances: 1

  database:
    vendor: postgres
    database: keycloak
    host: keycloak-pgsql
    secretName: keycloak-pgsql-user

  additionalOptions:
    - name: enable-recovery
      value: 'true'

  transaction:
    xaEnabled: true

  http:
    httpEnabled: false
    tlsSecret: keycloak-tls

  route:
    enabled: true
    tls:
      termination: reencrypt
      insecureEdgeTerminationPolicy: Redirect
